
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
   
    <link href="~/CSS/Login.css" rel="stylesheet" />
    <link href="~/CSS/Create.css" rel="stylesheet" />
    <script src="~/Scripts/Login.js"></script>
    <script src="~/Scripts/Home.js"></script>
</head>
<body>

    @if (ViewBag.UserId != null && ViewBag.Emaild != null)
    {
        <input type="hidden" class="form-control" id="sessionUserId" value="@ViewBag.UserId" />
        <input type="hidden" class="form-control" id="sessionEmailId" value="@ViewBag.Emaild" />
        <input type="hidden" class="form-control" id="sessionUsername" value="@ViewBag.UserName" />
    }
    <header class="header">
        <label class="welcomeuser pull-left" id="userWelcome">
            Welcome
            <a class="underlineHover" id="user" style="color: white;"></a>
        </label>
        <h2>
            Event Reminder
            <button id="btnlogout" class="btn btn-default btn-lg pull-right" style=" margin: -9px 14px;">
                Logout
            </button>
        </h2>
    </header>
    <!------------Login Page-------------->
    <!-- Signin & Signup-->
    <div id="modalLogin" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="formlogin">
                        <div class="container eventlogin_container">
                            <div class="row">
                                <div class="">
                                    <div class="panel panel-login">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a href="#" class="active" id="login-form-link">Login</a>
                                                </div>
                                                <div class="col-xs-6">
                                                    <a href="#" id="register-form-link">Register</a>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form action="@Url.Action("Login")" id="login-form" method="post" style="display: block;">
                                                        <div class="form-group">
                                                            <input type="text" name="email" id="loginemail" class="form-control" placeholder="Email" required>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2"></label>
                                                            <div class="col-sm-10">
                                                                <p id="Status" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" name="Password" id="loginpass" class="form-control" placeholder="Password" required>
                                                        </div>
                                                        <div class="social-box">
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-sm-offset-3">
                                                                        <input type="button" name="googlelogin" id="btnGoogleLogin" class="form-control btn btn-login" value="Login with Google">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-sm-offset-3">
                                                                        <input type="button" name="facebooklogin" id="btnfacebookLogin" class="form-control btn btn-login" value="Login with Facebook">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-sm-6 col-sm-offset-3">
                                                                    <input type="button" name="login-submit" id="loginsubmit" class="form-control btn btn-login" value="Log In">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div id="forgetpassword">
                                                                    <a class="underlineHover" style=" margin-left: 40%">Forgot Password?</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <form action="@Url.Action("Register")" id="register-form" method="post" style="display: none;">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="labelwrap required" style="margin-top:22px;">Username</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" name="username" id="reguserName" class="textwrap" placeholder="Username" maxlength="45" value="" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="labelwrap">Date of Birth</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="date" name="dob" id="regdob" class="textwrap" value="">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="labelwrap required">Phone</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="text" name="phone" id="regphone" class="textwrap" placeholder="Phone Number" value="">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="labelwrap required">Email</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="email" name="email" id="emailreg" class="textwrap" placeholder="Email Address" value="" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="labelwrap required">Password</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="password" name="password" id="regPass" class="textwrap" placeholder="Password" maxlength="10" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <label class="labelwrapper required">Confirm Password</label>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <input type="password" name="confirm-password" id="regConfirmPass" class="textwrap" placeholder="Confirm Password" maxlength="45" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-sm-6 col-sm-offset-3">
                                                                    <input type="button" name="registerSubmit" id="registersubmit" class="form-control btn btn-login" value="Register">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------------------->
    <!---------------Home Page-------------->
    <div id="homepg">
        <div class="container">
            <br />
            <button id="btncreate" class="btn btn-default btn-login" style="padding:5px 15px;">
                Create
            </button>
            <br />
            <br />
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#calview" class="textform">Calendar View</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#indexview" class="textform">List View</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!--Calendar View-->
                <div id="calview" class="tab-pane fade in active">
                    <br />
                    <br />
                    <div id="calender"> </div>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                                </div>
                                <div class="modal-body">
                                    <button id="btnCalDelete" class="btn btn-default btn-sm pull-right">
                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                    </button>
                                    <button id="btnCalEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit
                                    </button>
                                    <p id="pDetails"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="ModalEdit" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="margin-left: 40%;">Edit Event</h4>
                                </div>
                                <div class="container content">
                                    <div class="form">
                                        <form method="POST">
                                            <div class="form-content">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <input type="hidden" id="calEventID" name="EventId" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <input type="hidden" name="UserId" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label class="label-wrapper required" style="margin-top:22px;">Subject</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" name="subject" id="calSubject" class="text-wrapper" style="margin-top:15px;" placeholder="Subject" required>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label class="label-wrapper">Description</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="text-wrapper" id="calDescription" name="description" maxlength="45" placeholder="Description" required />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label class="label-wrapper required">Start Date</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="text-wrapper" id="calStart" name="startdate" required />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label class="label-wrapper required">End Date</label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text" class="text-wrapper" id="calEnd" name="enddate" required />
                                                    </div>
                                                </div>

                                                <div>
                                                    <button type="button" id="btnSave" class="btn btn-default buttonsbt">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--List View-->
                <div id="indexview" class="tab-pane fade">
                    <br />
                    <br />
                    <div id="listtable">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Event ID</th>
                                    <th>Subject</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div id="listEdit" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title" style="margin-left: 40%;">Edit Event</h4>
                                    </div>
                                    <div class="container content">
                                        <div class="form">
                                            <form method="POST">
                                                <div class="form-content">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <input type="hidden" id="listEventID" name="EventId" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <input type="hidden" name="UserId" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label class="label-wrapper required" style="margin-top:22px;">Subject</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" name="subject" id="listSubject" class="text-wrapper" style="margin-top:15px;" placeholder="Subject" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label class="label-wrapper">Description</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="text-wrapper" id="listDescription" name="description" maxlength="45" placeholder="Description" required />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label class="label-wrapper required">Start Date</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="text-wrapper" id="listStart" name="startdate" required />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label class="label-wrapper required">End Date</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="text-wrapper" id="listEnd" name="enddate" required />
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <button type="button" id="btnEdit" class="btn btn-default buttonsbt">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------------->
    <!---------------Create Page-------------->
    <div id="ModalCreate" class="modal fade" role="dialog">
        <div class="create-align">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="margin-left: 40%;">Create Event</h4>
                    </div>
                    <div class="container content">
                        <div class="form">
                            <form method="POST">
                                <div class="form-content">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="hidden" id="crteEventID" name="EventId" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="hidden" name="UserId" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="label-wrapper required" style="margin-top:22px;">Subject</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="subject" id="crteSubject" class="text-wrapper" style="margin-top:15px;" placeholder="Subject" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="label-wrapper">Description</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="text-wrapper" id="crteDescription" name="description" maxlength="45" placeholder="Description" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="label-wrapper required">Start Date</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="datetime-local" class="text-wrapper" id="crteStart" name="startdate" placeholder="dd-mm-yyyy h:mm a" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="label-wrapper required">End Date</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="datetime-local" class="text-wrapper" id="crteEnd" name="enddate" placeholder="dd-mm-yyyy h:mm a" required />
                                        </div>
                                    </div>

                                    <div>
                                        <input type="button" name="register-submit" id="createBtnSubmit" class="form-control btn buttonsbt" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------->
    <!---------------Forgot Password-------------->
    <div id="forgotPassword" class="modal fade" role="dialog">
        <div class="create-align">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="margin-left: 40%;">Forgot Password</h4>
                    </div>
                    <div class="container content">
                        <div class="form">
                            <form method="POST">
                                <div class="form-content">
                                    <div class="form-group">
                                        <input type="email" name="email" id="resetEmail" class="form-control" style="width:50%; margin-top:25px;" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="">
                                                <input type="button" name="resetpassword" id="resetpass" class="form-control btn btn-reset" value="Reset Password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------->
    <!---------------User Profile-------------->
    <div id="userProfile" class="modal fade" role="dialog">
        <div class="create-align">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="margin-left: 40%;">User Profile</h4>
                    </div>
                    <div class="container content">
                        <div class="form">
                            <form method="POST">
                                <div class="form-content">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="hidden" id="upUserID" name="UserID" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="label-wrapper required" style="margin-top:22px;">Username :</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" name="Username" id="upUsername" class="text-wrapper" style="margin-top:15px;" placeholder="Username" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="label-wrapper">DOB :</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="text-wrapper" id="upDob" name="DOB" maxlength="45" placeholder="DOB" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="label-wrapper required">Phone :</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="text-wrapper" id="upPhone" name="Phone" placeholder="Phone" required />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label class="label-wrapper required">Email :</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="email" class="text-wrapper" id="upEmail" name="Email" placeholder="Email" required />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnUserSave" class="btn btn-default buttonsave pull-left">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------->
</body>
</html>
